div{
    width: 150px;
    height:150px;

    /* border-width: 2px;
    border-color: red;
    border-style: solid; */
    border: 5px,solid,red;

    /* margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px; */
    margin: 50px 50px 50px 50px;

    
    float: left;
}