@charset "utf-8";

*{
    box-sizing: border-box;
}

.box{
    width: 500px;
    height: 500px;
    border: solid 3px #ccc;
    margin: 0 auto;
    box-shadow: 0px 0px 7px #ccc;
    overflow: scroll;
}

.slider{
    width: 2500px;
    height: 500px;
    background-color: blue;
    float: left;
    animation: slide 5s linear infinite;
    position: relative;
}

@keyframes slide {
    0%{left:0px;}
    
    10.5%{left:-500px;}
    14.5%{left:-500px;}
    23%{left:-1000px;}
    27%{left:-1000px;}
    35.5%{left:-1500px;}
    39.5%{left:-1500px;}
    48%{left:-2000px;}
    52%{left:-2000px;}
    60.5%{left:-1500px;}
    64.5%{left:-1500px;}
    73%{left:-1000px;}
    77%{left:-1000px;}
    85.5%{left:-500px;}
    89.5%{left:-500px;}
    100%{left:0px;}
}



.img{
    float: left;
}
