html, body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
    transform: scale(1.5);
    height: 100vh;
}

.btn{
    padding: 15px 40px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}
.btn::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;

}

.btn::before{
    content: "";
    background: linear-gradient(45deg, red, blue, cyan, green, yellow, red);
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background-size:600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    transition:opacity .3s ease-in-out ;
    border-radius: 10px;
    opacity: 1;

}
